html
  head
    title= "Guest List"
    meta(
        name="viewport" 
        content="width=device-width, initial-scale=1"
    )
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    )
  body(
      class="container is-fluid is-primary"
  )
    h1(
        class="title is-2"
    )= 'Guest List'
    ul
        each guest in guests
            if(guest.isGoing)
                li(
                class="title is-5" 
                )= `${guest.name}, with ${guest.guests} guests`